body{
    text-align: center;
    margin: 30px;
    background: blueviolet;

}

button{
    padding: 15px;
    border-radius: 10px;
    background-color: chartreuse;
    border: 0px;
    margin-right: 5px;
}


